.sign-in-container{
    display: flex;
    flex-direction: column;
    width: 380px;
    transform: translateY(50px); /* Adjust this value as needed */
    h2{
        margin: 10px 0;
    }

    .buttons-container-sign-in-form {
        display: grid;                 
        grid-template-columns: auto auto;
        gap: 10%;
    }
}